<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<main class="wp-block-group">
  <!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->
  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"style":{"spacing":{"blockGap":"var:preset|spacing|30","margin":{"bottom":"var:preset|spacing|50"}}}} -->
  <div class="wp-block-group">
    <!-- wp:post-date {"fontSize":"small"} /-->
    <!-- wp:post-author-name {"fontSize":"small"} /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
